%h1 案件募集中の企業一覧(companies/index)
%p このページでは企業名の検索が可能。クリックすると、showへ飛び、その企業の情報と出している募集案件の一覧(company.recruitments)が出る。
%p UI改修としては、募集一覧(recruitments#index / 投稿日付順)がルートページで、このページはヘッダーに募集中の企業一覧とかで飛ぶページにした方がいいかも。
.companies_wrapper
  .companies_wrapper__search
    .companies_wrapper__search--input 検索用ヘルパー
  .companies_wrapper__views
    ←↓背景は白予定
    .companies_wrapper__views--images
      .images__field 中央寄せで企業imageおく
      .images__field 中央寄せで企業imageおく
