%h1 Companies#show
%p データベースに情報がないとアドレスにアクセスできないのでいったん放置。
.companies_recruitment_wrapper
  ここはその企業の募集の一覧を表示(company.recruitment)
  .companies_recruitment_wrapper__index
    .companies_recruitment_wrapper__index--images
    .companies_recruitment_wrapper__index--images
    .companies_recruitment_wrapper__index--images
    .companies_recruitment_wrapper__index--images
  .companies_recruitment_wrapper__overview ここは企業の写真、概要欄(company(id))